{{ define "main" }}

{{ if eq .Draft true }}
<div id="draft-warning">This is an unpublished draft. Please keep it to yourself.</div>
{{ end }}

<div class="subscribe-page">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ if .Params.image_attribution }}
  <div id="photo-attribution">Lead image by {{ .Params.image_attribution }}</div>
  {{ end }}
</div>

<style>
.subscribe-page {
  width: 83%;
  margin: 0 auto;
  color: rgba(26,26,26,0.7);
}

@media only screen and (max-width: 550px) {
  .subscribe-page {
    width: 100%;
  }
}

.subscribe-page h1 {
  font-size: 39px;
  color: black;
  margin-bottom: 1em;
}

.subscribe-page h2 {
  text-transform: uppercase;
  font-family: proxima-nova;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 25px;
}

.subscribe-page p {
  margin: 0 0 1.2em 0;
}
</style>

{{ end }}